/* Variables */
:root {
    --main-color: #0e141b;
    --primary-color: aqua;
    --secondary-color: #fff;
    --primary-font: "Raleway", sans-serif;
    --secundary-font: "Crimson Text", serif;
}

/* Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Main styling */
body,
html {
    font-family: var(--primary-font);
    background-color: var(--main-color);
    color: var(--secondary-color);
}

/* Utility classes */
.subtitle {
    font-family: var(--secundary-font);
    font-weight: 600;
    font-size: 36px;
}

/* Navbar */
.nav-link,
.navbar-brand {
    color: var(--secondary-color) !important;
}

.nav-link span {
    margin-right: 5px;
    font-weight: bold;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

.navbar-brand span i {
    margin-right: 10px;
}

.navbar-brand span:hover {
    color: var(--primary-color);
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary-color) !important;
    font-weight: normal !important;
}

.navbar-toggler {
    border-color: var(--main-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Banner home */
.banner-header {
    height: 50vh;
}

.banner-header-text {
    height: 100%;
    place-content: center;
    font-size: 24px;
}

.banner-greet {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.banner-greet:hover {
    color: rgba(0, 255, 255, 0.8);
}

.banner-title {
    font-family: var(--secundary-font);
    font-weight: 600;
}

/* Projects */
.card-hover {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.card-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-hover .fixed-text {
    position: absolute;
    color: var(--secondary-color);
    font-size: 28px;
    font-family: var(--secundary-font);
    font-weight: 600;
    z-index: 1;
    margin-top: 10px;
    margin-left: 15px;
}

.card-hover .hover-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: white;
    font-size: 16px;
    padding: 15px;
}

.card-hover:hover .hover-text {
    opacity: 1;
}

/* Footer */
.main-footer {
    border-top: 1px solid #c4c4c4;
}

.main-footer p {
    color: var(--primary-color);
}

.main-footer i {
    color: var(--primary-color);
}

.main-footer a {
    padding: 8px;
}

/* About header */
.banner-about {
    height: 30vh;
}

.banner-about-text {
    height: 100%;
    place-content: center;
    font-size: 24px;
}

.prsn-descr-text {
    place-content: center;
    font-size: 24px;
}

/* Contact */
iframe {
    max-width: 100%;
    height: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: var(--main-color);
    font-weight: 600;
    width: 160px;
}

.btn:hover {
    background-color: rgba(0, 255, 255, 0.8);
    color: var(--main-color);
    font-weight: 600;
}